<!DOCTYPE html>
<html>
<head>
    <title>List Of Students</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>List of Students</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Name</th>
            <th>Points</th>
            <th>IsAdmin</th>
            <th>Email</th>
            <th>HasPassword</th>
            <th>Coupons</th>
        </tr>
        <tr>
            <th>1</th>
            <th>10243</th>
            <th>범준환</th>
            <th>134</th>
            <th>t</th>
            <th>solkblte@icloud.com</th>
            <th>true</th>
            <th>13</th>
    </table>
</body>
</html>